*{
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
	height: 100%;
    font-size: 62.5%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  color: #333333;
  letter-spacing: -0.05em;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

input[type="text"], input[type="email"], textarea {
  outline: none;
  -webkit-appearance: none;
}

input[type="submit"], input[type="button"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

select{
	border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}